<form action="/users/create-session" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Passwod</label>
    <input type="password" name="password" id="password" />
    <button>Sign In</button>
</form>