<form action="/users/create-user" method="POST">
    <label for="name">Name</label>
    <input type="name" name="name" id="name" />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Passwod</label>
    <input type="password" name="password" id="password" />
    <label for="confirm_password">Confirm Passwod</label>
    <input type="password" name="confirm_password" id="confirm-password" />
    <button>Sign Up</button>
</form>