<form>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Passwod</label>
    <input type="password" name="password" id="password" />
</form>