footer {
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  bottom: 0;
  background-color: rgb(105, 104, 104);
  padding: 10px 5px;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 17px;

  p {
    margin-right: 20px;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
