#navbar {
  background-color: #0084ff;
  padding: 5px 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #navbar li {
    display: inline-block;
    list-style: none;
    margin-left: 15px; }
    #navbar li a {
      text-decoration: none;
      color: white;
      font-size: 21px; }
